.hidden {
  display: none;
}

main{
	margin: 3.125em auto;
	width: 1000px;
}

/* ALL PAGES ---------------------------------------------------------------------------- ALL PAGES */
.right-text{
	text-align: right;
}
.centre-text{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.indent-1{
	text-indent: 20px;
}
.indent-2{
	text-indent: 40px;
}

/* NAV BAR ---------------------------------------------- NAV BAR */
nav{
	background-color: #e0f9ff;
	height: 70px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

nav ul li{
	float: left;
	margin-left: 15px;
	line-height: 70px;
}
nav ul li:first-child{
	font-weight: 500;
}

nav img{ /* For the logo */
	margin-right: 10px;
	vertical-align: text-bottom;
}

nav a, nav a:link, nav a:visited, nav a:active, nav li{
	text-decoration: none;
	/*color: #0571ce;*/
	color: #636363;
}
nav a:hover, nav li:hover{
	/*color: #000000;*/
	color: #0571ce;
	text-decoration: none;
}

/* DROPDOWN NAV ------------------------------------ DROPDOWN NAV */
/* plz no touch this finally works (and I don't know what I did...) */
nav ul ul{
  display: none;
  position: absolute;
  background-color: #ededed;
  margin: 0;
  margin-left: -10px;
  margin-top: -10px;
  min-width: 200px;
}
nav li:hover ul{
  display: block;
}
nav ul ul li{
  float: none;
  line-height: 1.0;
  margin: 0;
  padding: 10px;
}
nav ul ul li:first-child{
	font-weight: normal;
}

li.separate-top{
	width: 100%;
	border-top: 1px solid #cccccc;
}

/* USER INFO ------------------------------------------ USER INFO */
ul.stick-right{
	float: right;
}
ul.stick-right li{
	margin-right: 25px;
}
ul.stick-right a{
	font-weight: normal;
}
/* END NAV SECTION ----------------------------------- END NAV SECTION */

/* BUTTONS ---------------------------------------------- BUTTONS */
[class*="button"]{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	color: #ffffff;
}
[class*="button"]:hover{
	text-decoration: none;
	color: #ffffff;
}
[class*="button"]:focus{
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
}

/* FORMS -------------------------------------------------- FORMS */
.account-form{
	width: 35em;
	margin: 0 auto;
}

/* TABLES ------------------------------------------------ TABLES */
table tr th {
	background-color: #C0C0C0;
}

/* SCROLLING TABLE ------------------------------- SCROLLING TABLE */
.row table{
	width: 200px;
}

table.scroll{
	width: 200px;
}
table.scroll tbody, table.scroll thead tr{
	display: block;
}
table.scroll tbody{
	height: 550px;
	overflow-y: auto;
	overflow-x: hidden;
}

table.scroll tbody td, table.scroll thead th{
	width: 200px;
}

/* DEFAULT COLOURS ------------------------------- DEFAULT COLOURS */
/* Changing bootstrap's colours to match Covenant Health's */

/* INFO: Used for searching and general info tools*/
.button-info{
	background-color: #08a9ce;
	border-color: #08a9ce;	
}
.button-info:hover, .button-info:active, .button-info:focus{
	background-color: #45BEDA;
	border-color: #45BEDA;
}
.border-info{
	border-color: #08a9ce!important;
}
.text-info{
	color: #08a9ce!important;
}

/* PRIMARY: Used for Updating and other basic functions */
.button-primary{
	background-color: #0571ce;
	border-color: #0571ce;	
}
.button-primary:hover, .button-primary:active, .button-primary:focus{
	background-color: #4394DA;
	border-color: #4394DA;
}
.border-primary{
	border-color: #0571ce!important;
}
.text-primary{
	color: #0571ce!important;
}

/* SECONDARY: It's the random button. It's purple and beautiful :) */
.button-secondary{
	background-color: #8a84d6;
	border-color: #8a84d6;	
}
.button-secondary:hover, .button-secondary:active, .button-secondary:focus{
	background-color: #A7A2E0;
	border-color: #A7A2E0;
}
.border-secondary{
	border-color: #8a84d6!important;
}
.text-secondary{
	color: #8a84d6!important;
}


/* SUCCESS: Used for adding and creating */
.button-success{
	background-color: #83bc01;
	border-color: #83bc01;	
}
.button-success:hover, .button-success:active, .button-success:focus{
	background-color: #A2CC40;
	border-color: #A2CC40;
}
.border-success{
	border-color: #83bc01!important;
}
.text-success{
	color: #83bc01!important;
}

/* WARNING: Used for messages to user that include important information */
.button-warning{
	background-color: #ff9e1a;
	border-color: #ff9e1a;	
}
.button-warning:hover, .button-warning:active, .button-warning:focus{
	background-color: #FFB653;
	border-color: #FFB653;
}
.border-warning{
	border-color: #ff9e1a!important;
}
.text-warning{
	color: #ff9e1a!important;
}

/* DANGER: Used for delete buttons and error messages */
/* NOTE: not a CH colour, created from a pallet to match other colours */
.button-danger{
	background-color: #CE050E;
	border-color: #CE050E;	
}
.button-danger:hover, .button-danger:active, .button-danger:focus{
	background-color: #DA434A;
	border-color: #DA434A;
}
.border-danger{
	border-color: #CE050E!important;
}
.text-danger{
	color: #CE050E!important;
}





/*

.btn-info{
	background-color: #08a9ce;
	border-color: #08a9ce;	
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
	background-color: #45BEDA;
	border-color: #45BEDA;
}
.border-info{
	border-color: #08a9ce!important;
}
.text-info{
	color: #08a9ce!important;
}

.btn-primary{
	background-color: #0571ce;
	border-color: #0571ce;	
}
.btn-primary:hover{
	background-color: #4394DA;
	border-color: #4394DA;
}
.border-primary{
	border-color: #0571ce!important;
}
.text-primary{
	color: #0571ce!important;
}

.btn-secondary{
	background-color: #8a84d6;
	border-color: #8a84d6;	
}
.btn-secondary:hover{
	background-color: #A7A2E0;
	border-color: #A7A2E0;
}
.border-secondary{
	border-color: #8a84d6!important;
}
.text-secondary{
	color: #8a84d6!important;
}


.btn-success{
	background-color: #83bc01;
	border-color: #83bc01;	
}
.btn-success:hover{
	background-color: #A2CC40;
	border-color: #A2CC40;
}
.border-success{
	border-color: #83bc01!important;
}
.text-success{
	color: #83bc01!important;
}


.btn-danger{
	background-color: #ff9e1a;
	border-color: #ff9e1a;	
}
.btn-danger:hover{
	background-color: #FFB653;
	border-color: #FFB653;
}
.border-danger{
	border-color: #ff9e1a!important;
}
.text-danger{
	color: #ff9e1a!important;
}

*/





/* FOOTER -------------------------------------------------- FOOTER */
footer{
	position: fixed;
	bottom: 0px;
	background-color: #e0f9ff;
	width: 100%;
}
footer p{
	text-align: center;
	margin-bottom: 0.313em;
}

/* END: ALL PAGES -------------------------------------------------------------------- END: ALL PAGES */


/* Login Page ---------------------------------------------------------------------------- Login Page */
.login-form{
	width: 30em;
	margin: 0 auto;
}
/*.login-form button, .login-form input{*/
.login-form .btn{
	margin-top: 1.25em;
}

/* Landing Page ------------------------------------------------------------------------- Landing Page */
div.landing-row{
	margin-top: 40px;
}

ul.landing-nav{
	list-style-type: none;
	padding: 0;
}

p.access-code{
	font-weight: bold;
}

/* Contact Requests Page ---------------------------------------------------------- Contact Requests Page */
table.contact-req tr td:first-child{ /* centering the checkboxes in the table */
	text-align: center;
}

/* Survey Details Page -------------------------------------------------------------- Survey Details Page */
.form-group p{
	font-weight: bold; /*So the data appears bold in the table thingy*/
}


/* Everyone's favorite: clearfix! */
.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}